.deel1 {
    margin: auto;
    width: 80%;
    background-color: #f0f0f0;
    padding: 8px;
    border: 1px dashed #d0d0d0;
    position: relative;
}

#myConsole {
    height: 40em;
    background-color: black;
    color: white;
    border: 2px solid #c0c0c0;
    padding: 4px;
    overflow: scroll;
}

#img {
    visibility: hidden;
}

#area {
    border: 1px solid;
    position: relative;
    height: 200px;
    width: 200px;
}

.popup {
    visibility: hidden;
    position: absolute;
    display: block;
    margin: 0;
}

div#zone1 {
    border: 1px solid;
    height: 200px;
    width: 200px;
    background-color: yellow;
}

div#zone2 {
    position: relative;
    border: 1px solid;
    left: 50px;
    top: 50px;
    height: 100px;
    width: 100px;
    background-color: lime;
}


/* Forms */

.error {
    background-color: red;
}

.grey {
    background-color: lightgrey;
}

.inv {
    visibility: hidden;
    color: red;
}


/* selections */

#selectpage {
    background-color: white;
}